:root{
    --blue-color: #021527;
    --grey-color: #797979;
    --gold-colour: #CCB673;
    --baige-color: #F3F2EC;
    --baige-back-color: #EEE9DF;
    --baige-back-brighter: #F6F4EF;
    --white-color: #fff;
}

/* NAVBAR START */

@font-face {
    font-family: navbar-font;
    src: url(/fonts/navbar-font.woff2);
}

@font-face {
    font-family: section-font;
    src: url(/fonts/section2-font.woff2);
}

@font-face {
    font-family: big-text-font;
    src: url(/fonts/big-text-font.woff2);
}

.navbar-nav{
    font-family: navbar-font;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.navbar img{
    max-width: 110px;
}

.navbar-nav .btn{
    font-family: navbar-font;
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--white-color);
    background-color: var(--blue-color);
    border-radius: 0;
    transition: .5s;
}

.navbar-nav .btn:hover{
    background-color: transparent;
    color: var(--blue-color);
    border: 2px solid var(--blue-color);
}

/* NAVBAR END */

/* START OF SECTION 1 ( HERO BANNER + LOGO ) */

#section1 .container-fluid{
    position: relative;
    height: 75vh;
    z-index: 0;
}

#section1 .logo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* END OF SECTION 1 ( HERO BANNER + LOGO ) */

#parent-section{
    background-image: url(/images/parent-section/parent-img.jpg);
    background-position: center;
}

/* START OF SECTION 2 */


#section2{
    padding-top: 8rem;
}

#section2 .container h3{
    font-family: section-font;
    
}

#section2 .container p{
    margin: 1.5rem 0;
    color: var(--grey-color);
}

#section2 .view-more{
    cursor: pointer;
    font-family: navbar-font;
    letter-spacing: 3px;
    color: black;
}


#section2 .view-more i{
    margin-left: 5px;
    transition: .5s;
}

#section2 .view-more:hover .fa-solid{
    margin-left: 15px;
}

/* END OF SECTION 2 */

/* START OF SECTION 3 */

#section3{
    margin-top: 8rem;
}

#section3 .container-fluid{
    padding-top: 3rem ;
    /* background-color: var(--baige-color); */
}

#section3 .row{
    background-color: var(--baige-color);
    padding: 3rem 0;
}

#section3 img{
    margin-left: 5rem;
}

/* RELATIVE AND ABSOLUTE POSITION TO MAKE 'CRUISERS' STAY BEHIND 
THE PRINCIPAL TEXT */

#relative-col{
    position: relative;
    padding: 25px 5px 5px 5px;
    z-index: 0;
}

#relative-col .back-text {
    position: absolute;
    top: -5px;
    left: 0;
    color: var(--baige-back-color);
    font-family: secion2-font;
    font-size: 6.5rem;
    font-weight: 500;
    z-index: -1;
}

#relative-col .main-title {
    font-family: section-font;
    line-height: 65px;
}

#relative-col .sub-heading {
    color: var(--gold-colour);
    font-family: navbar-font;
    font-size: 0.7rem;
    line-height: 24px;
    letter-spacing: 3px;
}

#section3 ul{
    color: var(--grey-color);
}

/* END OF SECTION 3 */

/* START OF SECTION 4 */

#section4{
    margin-top: 6rem;
    padding-bottom: 3rem;
}

#section4 .four-cols{
    position: relative;
    z-index: 1;
}

#section4 .container .row .upper-text{
    color: #C2AD8E;
}

#section4 .container .row span{
    font-family: section-font;
    font-size: 4rem;
    letter-spacing: 2px;
}

#section4 .container .row .back-text{
    position: absolute;
    top: -10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: section-font;
    font-size: 6rem;
    font-weight: bold;
    color: #EDE8E0;
    z-index: -1;
}

/* END OF SECTION 4 */

/* START OF SECTION 5 */

#section5{
    margin-bottom: 6rem;
}

#section5 .on-hover{
    overflow: hidden;
}

#section5 .on-hover img{
    width: 100%;
    height: 100%;
    transition: 2s;
}

#section5 .on-hover:hover img{
    transform: scale(1.1);
}

/* END OF SECTION 5 */

/* START OF SECTION 6 */

#section6 .row{
    background-image: url(/images/section6/section6-bg.jpg);
}

#section6 .carousel-inner{
    padding: 8rem 0;
}

#section6 .carousel-inner span{
    font-family: navbar-font;
    font-size: 0.7rem;
    letter-spacing: 2px;
    color: var(--gold-colour);
}

#section6 .carousel-inner h2{
    font-family: section-font;
    font-size: 2.5rem;
    letter-spacing: 2px;
}


#section6 .carousel-item h5{
    font-family: section-font;
}


/* END OF SECTION 6 */

/* START OF SECION 7 */

#section7{
    margin-top: 6rem;
}

#relative-col-s7{
    position: relative;
    padding: 15px 30px 10px 60px;
    z-index: 0;
}

#relative-col-s7 .back-text {
    position: absolute;
    top: 25px;
    left: 25px;
    color: var(--baige-back-brighter);
    font-family: secion2-font;
    font-size: 6rem;
    font-weight: 500;
    z-index: -1;
}

#relative-col-s7 .main-title {
    font-family: section-font;
    font-size: 3.5rem;
    line-height: 65px;
}

#relative-col-s7 .sub-heading {
    color: var(--gold-colour);
    font-size: 0.7rem;
    line-height: 24px;
    font-family: navbar-font;
    letter-spacing: 3px;
}

#section7 .writing p{
    color: var(--grey-color);
    font-family: navbar-font;
    font-size: 1rem;
}

/* FOUR COLS WITH BACK TEXT */


#section7 .container{
    padding: 100px;
}

#section7 .four-cols{
    position: relative;
    z-index: 1;
}


#section7 .container .row span{
    font-family: navbar-font;
    font-size: 1em;
    letter-spacing: 2px;
}

#section7 .container .row .back-text-show{
    position: absolute;
    top: -0.6em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: section-font;
    font-size: 5em;
    font-weight: bold;
    color: #EDE8E0;
    z-index: -1;
}

/* REVEALS MAKES THE YACHT COME APPEAR ON SCROLL + APP.JS */

.reveal{
    position: relative;
    /* transform: translateX(250px); */
    opacity: 0;
    transition: 2s all ease;
}
  
.reveal.active{
    transform: translateX(0);
    opacity: 1;
}

/* END OF SECTION 7 */

/* START OF SECTION 8 */

#section8{
    margin-top: 6rem;
}

#section8 .row{
    background-color: var(--baige-color);
    padding-top: 4rem;
}

#section8 .row img{
    padding-bottom: 8rem;
}


#section8 .four-cols{
    position: relative;
    z-index: 1;
}

#section8 .container-fluid .row .upper-text{
    color: #C2AD8E;
}

#section8 .container-fluid .row span{
    font-family: section-font;
    font-size: 4rem;
    letter-spacing: 2px;
}

#section8 .container-fluid .row .back-text{
    position: absolute;
    top: -10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: section-font;
    font-size: 6rem;
    font-weight: bold;
    color: #EDE8E0;
    z-index: -1;
}


/* END OF SECTION 8 */

/* START OF SECTION 9 / FOOTER */

#section9{
    margin-top: 5rem;
    color: #5D6771;
}

#section9 .row{
    background-color: var(--blue-color);
    padding: 6rem 0;
}

#section9 i{
    margin-right: 1.5rem;
}

#section9 h5{
    font-family: section-font;
}

#section9 .form-control{
    background-color: transparent;
    color: #5D6771;
}



/* MEDIA QUERY */

@media only screen and (max-width: 575px) {
    
    #section1 .logo img{
        max-width: 250px;
    }
    #section1 .carousel-item img{
        height: 95vh;
        object-fit: cover;
    }

    #section1{
        margin-bottom: 6em;
    }

    #section3 img{
        margin-left: 0;
    }

    #section6 .carousel-inner p{
        width: 100%;
    }

    .media-top-mobile-s8{
        margin-top: 4em;       
    }

    #section8 #no-display-mobile, #no-display-tablet{
        display: none;
    }

    #section9 .margin-left-mobile{
        margin-left: 30px;
    }
}

@media( min-width: 575px) and (max-width: 992px){

    #section1 .logo img{
        max-width: 400px;
    }
    #section1 .carousel-item img{
        height: 90vh;
        object-fit: cover;
    }

    #section1{
        margin-bottom: 6em;
    }
    
    #section2 .padding-tablet-media{
        padding: 30px 0 30px 10px;
    }

    #section3 img{
       width: 75%;
       display: flex;
       justify-content: center;
    }

    .media-top-tablet-s8{
        margin-top: 4em;       
    }

    #section8 #no-display-tablet{
        display: none;
    }

    #section9 #left-padd-tablet{
        padding-left: 50px;
    }
}

@media(min-width: 575px) and (max-width:768px ){
    .media-top-mobile-s8{
        margin-top: 3em;
    }
}

@media screen and (min-width: 320px) and (max-width: 992px) {
    .back-text { 
        display: none; 
    }  

    #section2 .row{
        margin-left: 35px;
    }

    #section7 .writing {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #section9 p{
        max-width: 300px;
    }
  }

@media screen and (min-width: 992px) and (max-width:1400px){
    #section3 .back-text{
        font-size: 5rem;
    }
    #section3 #col-and-ul{
        padding-left: 70px;
    }
}

@media (min-width: 976px) {
    
    #section1 .img2{
        max-width: 550px;
    }
    #section3 ul{
        max-width: 500px;
    }
}

@media(min-width: 1200px){
    #section3 img{
        margin-left: 100px;
        width: 600px;
    }
}